body {
    background-color: #ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 14px; 
    color:#757575;
    --blue-color: #2196f3;
    --font-dark-grey-color: #212121;
    --background-grey-color: #2F303A;
    --background-white-color: #ffffff;
    --background-light-grey-color: #F5F4FA;
    --blue-hover-color: #188CE8;
    --black-color: #000000;

}
ul {
    list-style-type: none;
}
:link {
    text-decoration:none;
    color: inherit;
}
a:hover, a:focus {
    color: var(--blue-color);
    text-decoration: underline;
}
.global-header .header-logo {
    color: var(--black-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.header-logo-web {
    color: var(--blue-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
}
.global-header {
    background-color: var(--background-white-color);
}

.global-header .main-navigation a:visited {
    color: var(--font-dark-grey-color);
}

.global-header .main-navigation a:hover,
 .global-header .main-navigation a:focus {
    color: var(--blue-color);
    text-decoration: none;
}
.global-header .main-navigation a:active {
    color: var(--blue-color);
}
.global-header .main-navigation {
    font-family: inherit;
    font-weight: 500;
}
.global-header .main-navigation .current {
    color: var(--blue-color);
}
.request {
    background-color: var(--background-grey-color);
}
.request .request-button {
    font-family: inherit;
    font-weight: 700;
    color:var(--background-white-color);
    background-color: var(--blue-color);
    cursor: pointer;
    border: none;
}
.request .request-button:hover,
.request .request-button:focus,
.request .request-button:active {
    background-color: var(--blue-hover-color);
    color: var(--background-white-color);
}
h1 {
    font-family: inherit;
    color: var(--background-white-color);
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}
h2 {
    font-family: inherit;
    color: var(--font-dark-grey-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
h3 {
    font-family: inherit;
    color: var(--font-dark-grey-color);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.what-we-do-list .what-we-do {
    color: inherit;
    font-family: inherit;
    line-height: 1;
}
.what-we-do-list .what-we-do .what-we-do-title {
    color: var(--font-dark-grey-color);
    font-weight: 700;
    text-align: left;
    line-height: 1,5;
}
.our-team {
background-color: var(--background-light-grey-color); 
}
.our-team .our-team-list {
    background-color: var(--background-white-color);
}
.our-team .our-team-list .job-position {
    color: inherit;
    font-family: inherit;
    text-align: center;
    display: block;
    line-height: 1;
}
footer {
    background-color: var(--background-grey-color);
}
address {
    color:var(--background-white-color);
    font-family: inherit;
    line-height: 1,5;
    font-style: normal;
} 
.global-footer .contact-footer {
    font-family: inherit;
    font-style:normal;
    font-weight: 400;
}
.global-footer .logo-footer {
    color: var(--background-white-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.global-footer .logo-footer .logo-footer-web {
    color: var(--blue-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
}
.filter .filter-button {
    color: var(--font-dark-grey-color);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    ;
}
.filter .filter-button {
    font-family: inherit;
    font-weight: 500;
    background-color:var(--background-light-grey-color);
    border: var(--background-light-grey-color);
    color: var(--font-dark-grey-color);
    cursor: pointer;
}
.filter .filter-button:hover,
.filter .filter-button:focus,
 .filter .filter-button:active {
    color: var(--background-white-color);
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}
.filter-list .filter-card .filter-title {
    color: var(--font-dark-grey-color);
    font-family: inherit;
    font-weight: 700;
    text-align: left;
}
    